<form [formGroup]="form">
  <h1 mat-dialog-title>Edit Tags</h1>
  <mat-dialog-content>
    <mat-form-field class="form-layout-field">
      <mat-label>Tags</mat-label>
      <mat-chip-grid #chipGrid>
        <mat-chip-row *ngFor="let tag of tags"
        (removed)="remove(tag)">
        {{ tag.value }}
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
        </mat-chip-row>
      </mat-chip-grid>
      <input #tagsInput
      placeholder="Tags..."
      [formControl]="tagsCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      (matChipInputTokenEnd)="add($event)"/>
      <mat-autocomplete #auto="matAutocomplete"
        autoActiveFirstOption
        (optionSelected)="selected($event)">
        <mat-option *ngFor="let tag of filteredTags()"
          [value]="tag.id">
          {{ tag.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button
      [mat-dialog-close]="tags"
      mat-flat-button
      color="primary"
      type="submit">
      Save
    </button>
  </mat-dialog-actions>
</form>
