@mixin list-page {
  .list-page {
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  .list-page-header {
    display: flex;

    h1 {
      flex: 1;
    }
  }

  .list-table {
    flex: 1;
  }
}

@mixin form-layout {
  .form-layout-field {
    display: flex;
  }
}
