<div class="detail-page">
  <header class="detail-page-header">
    <h1>{{ restaurant()?.name }}</h1>
    <button class="detail-page-delete"
      color="warn"
      mat-flat-button
      routerLink="delete"
      [state]="{ name: restaurant()?.name, type: 'restaurant' }">
      Delete
    </button>
  </header>

  <div class="detail-page-tiles">
    <mat-card class="detail-page-tile">
      <mat-card-header>
        <mat-card-title>Tags</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-set>
          <mat-chip *ngFor="let tag of tags()">
            {{ tag.value }}
          </mat-chip>
        </mat-chip-set>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<router-outlet (deactivate)="onDeactivate()"></router-outlet>
