.restaurant-page {
  padding: 2rem;
  box-sizing: border-box;
}

.restaurant-header {
  display: flex;
}

.restaurant-delete {
  margin-left: auto;
}

.restaurant-tiles {
  display: flex;
  gap: 2rem;
}

.restaurant-tile {
  width: 33%;
}
