@use '@angular/material' as mat;
@use 'ag-grid-community/styles' as ag;

$primary: mat.define-palette(mat.$indigo-palette);
$accent: mat.define-palette(mat.$teal-palette);

$typography: mat.define-typography-config(
  $font-family: 'Open Sans'
);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: $typography,
  density: 0
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $primary,
    accent: $accent
  ),
  typography: $typography,
  density: 0
));

@include mat.core();

@include mat.core-theme($light-theme);
@include mat.typography-hierarchy($typography);

@include mat.all-component-themes($light-theme);

@include ag.grid-styles((
  themes: (alpine, alpine-dark)
));

@media (prefers-color-scheme: dark) {
  @include mat.all-component-colors($dark-theme);
}
